<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    <!-- <link rel="stylesheet" href="/css/product.css"> -->
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <%if(errorMsg){%>
                    <div style="width: fit-content;padding: 5px 10px;margin:auto;text-align:center;max-width:80%;border-color:crimson;background:rgb(255, 168, 168);"><%=errorMsg%></div>
                <%}%>
                <%if(!isAuthenticated){%>
                    <form class="login-form" action="/login" method="POST" novalidate>
                        <div class="form-control">
                            <label for="email">E-Mail</label>
                            <input type="email" name="email" id="email" value="<%=oldData.email%>">
                        </div>
                        <div class="form-control">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" value="<%=oldData.password%>">
                        </div>
                        <div style="margin-bottom: 1.5rem;">
                            <input type="checkbox" id="show-password" style="margin-left: 0;">
                            Show Password
                        </div>
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        <div class="form-control">
                            <button class="btn" type="submit">Login</button>
                            <a class="btn" href="/reset" style="margin-left: 1rem;">Forgot Password</a>
                        </div>
                    </form>
                <%}%>
            </main>
            <%- include('../includes/end.ejs') %>