<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (requests?.length>0??false) { %>
                    <!-- <form action="/filter" method="POST">
                        <div style="height: 3rem;display: flex;align-items: center;justify-content: center;margin-bottom: 1rem;">
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                            <input type="text" name="filter" placeholder="Filter by title" style="height: 1.8rem;width:50%;max-width:25rem;margin-right:1rem;" value="">
                            <button class="btn" type="submit">Search</button>
                        </div>
                    </form> -->
                    <div class="grid">
                        <% for (let friend of requests) { %>
                            
                                    <article class="card product-item" style="background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);">
                                        <header class="card__header" style="margin-bottom: 0;padding-bottom:0;">
                                            <h1 class="product__title" style="color:aliceblue">
                                                <%= friend.username %>
                                            </h1>
                                        </header>
    
                                        <div class="card__content">
                                            <p class="product__description t" style="color:rgb(255, 0, 128);">
                                                <%=friend.email%>
                                            </p> 
                                        </div>
                                        
                                        <div class="card__actions">
                                            <form action="/admin/delete-req" method="POST">
                                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                                <input type="hidden" value="<%=friend._id%>" name="friendId">
                                                <button class="imgbtn" type="submit">Delete</button>
                                            </form>
                                            <form action="/admin/accept-req" method="POST">
                                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                                <input type="hidden" value="<%=friend._id%>" name="friendId">
                                                <button class="imgbtn" type="submit">Accept</button>
                                            </form>
                                        </div>
                                    </article>
                        <%}%>
                    </div>
                    
                <% } else { %>
                    <h1>No Friend Requests!</h1>
                <% } %>
            </main>
            <%- include('../includes/end.ejs') %>